<mat-drawer-container class="main-root" autosize>
  <mat-drawer #drawer class="menu-mobile" mode="side">
    <p>This is menu mobile</p>
  </mat-drawer>

  <div class="content-wapper">
    <div class="hide-min-phablet">
      <button type="button" class="mob-menu-button" mat-button (click)="drawer.toggle()">Mobile menu</button>
    </div>

    <app-side-menu class="hide-max-phablet"></app-side-menu>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>
