<div class="row">
  <div class="col-sm-12">
    <h2 class="h2 color-grey-dark">Vendas</h2>
  </div>
</div>

<div class="row row-chart">
  <div class="col-sm-12 col-md-6">
    <app-card [radius]=cardRadius.small>
      <div class="card-wrapper__large">
        <!-- Card Header -->
        <div class="chart-card-header">
          <h4 class="text-merriweather__md--bold color-grey-base">Vendas por mês ({{currentMonthYear}})</h4>
          <div class="menu">
            <button
              mat-icon-button [matMenuTriggerFor]="menu1"
              matTooltip="Filtrar">
              <mat-icon class="color-grey-dark">filter_alt</mat-icon>
            </button>
            <mat-menu #menu1="matMenu">
              <button
                *ngFor="let select of yearSelectionStructure"
                value={{select}}
                mat-menu-item
                (click)="filterByMonths(select)">
                <span>{{select}}</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <!-- Card Header -->
        <!-- Card Body -->
        <div class="chart-card-body">
          <canvas baseChart
            [datasets]="monthsChartData"
            [labels]="monthsChartLabel"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            [colors]="monthsChartColor">
          </canvas>
        </div>
        <!-- Card Body -->
      </div>
      </app-card>
  </div>

  <div class="col-sm-12 col-md-6">
    <app-card [radius]=cardRadius.small>
      <div class="card-wrapper__large">
        <!-- Card Header -->
        <div class="chart-card-header">
          <h4 class="text-merriweather__md--bold color-grey-base">Vendas por categoria</h4>
        </div>
        <!-- Card Header -->
        <!-- Card Body -->
        <div class="chart-card-body">
          <canvas baseChart
          [data]="categoryChartData"
          [labels]="categoryChartLabel"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [colors]="pieChartColors"
          [legend]="pieChartLegend">
        </canvas>
        </div>
        <!-- Card Body -->
      </div>
    </app-card>
  </div>
</div>

<div class="row row-chart">
  <div class="col-sm-12 col-md-6">
    <app-card [radius]=cardRadius.small>
      <div class="card-wrapper__large">
        <!-- Card Header -->
        <div class="chart-card-header">
          <h4 class="text-merriweather__md--bold color-grey-base">Comissão Lejour por categoria</h4>
        </div>
        <!-- Card Header -->
        <!-- Card Body -->
        <div class="chart-card-body">
          <canvas baseChart
          [data]="comissionCategoryData"
          [labels]="comissionCategoryLabel"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [colors]="comissionCategoryColors"
          [legend]="pieChartLegend">
        </canvas>
        </div>
        <!-- Card Body -->
      </div>
      </app-card>
  </div>
  <div class="col-sm-6">
    <app-card [radius]=cardRadius.small>
      <div class="card-wrapper__large">
        <!-- Card Header -->
        <div class="chart-card-header">
          <h4 class="text-merriweather__md--bold color-grey-base">Comissão Lejour mês ({{currentComissionYear}})</h4>
          <div class="menu">
            <button
              mat-icon-button [matMenuTriggerFor]="menu2"
              matTooltip="Filtrar">
              <mat-icon class="color-grey-dark">filter_alt</mat-icon>
            </button>
            <mat-menu #menu2="matMenu">
              <button
                *ngFor="let select of yearSelectionStructure"
                value={{select}}
                mat-menu-item
                (click)="filterComissionByMonths(select)">
                <span>{{select}}</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <!-- Card Header -->
        <!-- Card Body -->
        <div class="chart-card-body">
          <canvas baseChart
            [datasets]="comissionMonthsChartData"
            [labels]="comissionMonthsChartLabel"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            [colors]="comissionMonthsChartColor">
          </canvas>
        </div>
        <!-- Card Body -->
      </div>
    </app-card>
  </div>
</div>
