@import '~@angular/material/theming';
@import './colors';

@include mat-core();

$my-custom-primary-color: (50 : #008179,
  guava : #E2645A,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$my-custom-accent-color: (
  yellow : #FFB854,
  orange : #EA8079,
  pink : #DB5D79,
  sky-blue : #84B8E2,
  dark-w-green : #68BFB7,
  water-green : #86D0CB,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));


$my-app-primary: mat-palette($my-custom-primary-color, guava);
$my-app-accent: mat-palette($my-custom-accent-color, dark-w-green);
$my-app-warn: mat-palette($mat-deep-orange);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);

$custom-typography: mat-typography-config(
    $font-family:   'Lato',
    $button:        mat-typography-level(14px, 14px, 400),
    $input:         mat-typography-level(inherit, 1.125, 400)
);

@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

@include mat-core($custom-typography);

/**
* Custom Elements
*/

// Customize buttons
.button.mat-button,
.mat-raised-button,
.mat-flat-button {
  border-radius: 48px !important;
  color: #fff !important;
  letter-spacing: .7px;
}

.mat-stroked-button {
  border-radius: 48px !important;
  letter-spacing: .7px;
}

.mat-raised-button:not([class*=mat-elevation-z]) {
  box-shadow: shadows(button-green);
}

.mat-stroked-button:not([disabled]) {
  border-color: colors(secondary, dark-w-green);
}

.mat-raised-button:not([disabled]):active:not([class*=mat-elevation-z]) {
  box-shadow: shadows(button-green-hover);
}
