<div class="side-menu">
  <app-card>
    <div class="side-menu__header">

    </div>

    <div class="side-menu__wrapper">
      <ul class="menu-list">
        <li class="menu-list-item">
          <span class="menu-list-item__icon">
            <i class="icon-home-1"></i>
          </span>
          <span class="menu-list-item__text">Início</span>
        </li>
        <mat-divider></mat-divider>
        <li class="menu-list-item">
          <span class="menu-list-item__icon">
            <i class="icon-calendar"></i>
          </span>
          <span class="menu-list-item__text">Agendamentos</span>
        </li>
        <li class="menu-list-item">
          <span class="menu-list-item__icon">
            <i class="icon-clients"></i>
          </span>
          <span class="menu-list-item__text">Clientes</span>
        </li>
        <li class="menu-list-item">
          <span class="menu-list-item__icon">
            <i class="icon-wending-1"></i>
          </span>
          <span class="menu-list-item__text">Casamentos</span>
        </li>
        <li class="menu-list-item">
          <span class="menu-list-item__icon">
            <i class="icon-comercial"></i>
          </span>
          <span class="menu-list-item__text">Vendas</span>
        </li>
      </ul>
    </div>
  </app-card>
</div>
