/* You can add global styles to this file, and also import other style files */
/*BASE CSS*/
@import './assets/style/base/colors';
@import './assets/style/base/typography';
@import './assets/style/helpers/mixins';
@import './assets/icons/css/fontello.css';
@import './assets/style/vendor/bootstrap.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lato', "Helvetica Neue", sans-serif;
}

.wrapper {
  width: 100%;
}

.card-wrapper {
  &__small {
    padding: 8px;
  }
  &__medium {
    padding: 16px;
  }
  &__large {
    padding: 24px;
  }
}

/* espaçamento para colocar entre rows de tabelas */
.mt-1 {
  margin-top: 45px;
}

.row-chart {
  @include breakpoint('phablet', max) {
    [class*='col'] {
      margin-bottom: 2rem;
    }
  }
}
