
.icon-icon-clients:before { content: '\e800'; } /* '' */
.icon-icon-comercial:before { content: '\e801'; } /* '' */
.icon-icon-user:before { content: '\e802'; } /* '' */
.icon-icon-wending:before { content: '\e803'; } /* '' */
.icon-icon-calendar:before { content: '\e804'; } /* '' */
.icon-icon-chart:before { content: '\e805'; } /* '' */
.icon-icon-wending-1:before { content: '\e806'; } /* '' */